@page "/scenarios/run/{ScenarioId:int}"
<div class="row g-3 align-items-center">    
    <div class="col-auto">
        <label for="yearsInput" class="col-form-label">Years</label>
    </div>
    <div class="col-auto">
        <input class="form-control" id="yearsInput" @bind="@_years" type="number" />        
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" onclick="@(() => RunScenario())">Run Scenarios</button>
    </div>    
</div>
@if (showScenario == true && _yearAggregateList != null && _yearAggregateList.Count > 0)
{    
    <table class="table">
        <thead>
            <tr>                
                <th scope="col">Expand</th>
                <th scope="col">Year</th>
                <th scope="col">Total Assets</th>
                <th scope="col">Total Retirement</th>
                <th scope="col">Total Worth</th>
                <th scope="col">Total Debt</th>
                <th scope="col">Networth</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var year in _yearAggregateList)
            {
                <tr>
                    <th scope="row">
                        <button @onclick="@(() => year.Expand = !year.Expand)">
                            @if (year.Expand == false)
                            {
                                <i class="fa-solid fa-plus"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-minus"></i>
                            }
                        </button> 
                    </th>
                    <th scope="row">@year.Year</th>
                    <td>@year.TotalAssets.ToString("c")</td>
                    <td>@year.TotalRetirement.ToString("c")</td>
                    <td>@((year.TotalAssets + year.TotalRetirement).ToString("c"))</td>
                    <td>@year.TotalDebt.ToString("c")</td>
                    <td>@year.Networth.ToString("c")</td>
                </tr>
                @if (year.Expand == true)
                {
                    <tr>
                        <td colspan="7">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Expand</th>
                                        <th scope="col">Month</th>
                                        <th scope="col">Total Assets</th>
                                        <th scope="col">Total Retirement</th>
                                        <th scope="col">Total Worth</th>
                                        <th scope="col">Total Debt</th>
                                        <th scope="col">Networth</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var month in year.MonthAggregateModels)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <button @onclick="@(() => month.Expand = !month.Expand)">
                                                    @if (month.Expand == false)
                                                    {
                                                        <i class="fa-solid fa-plus"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-solid fa-minus"></i>
                                                    }
                                                </button> 
                                            </th>
                                            <th scope="row">@month.Month</th>
                                            <td>@month.TotalAssets.ToString("c")</td>
                                            <td>@month.TotalRetirement.ToString("c")</td>
                                            <td>@((month.TotalAssets + month.TotalRetirement).ToString("c"))</td>
                                            <td>@month.TotalDebt.ToString("c")</td>
                                            <td>@month.Networth.ToString("c")</td>
                                        </tr>
                                        @if(month.Expand == true)
                                        {
                                            <tr>
                                                <td colspan="7">
                                                    <table class="table">
                                                        <thead>                                                            
                                                            <tr>
                                                                <th scope="col">Expand</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Account Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var lineItemRow in month.LineItemsRow.Where(x => x.Value.AccountType == Web.Enum.AccountType.Asset
                                                           || x.Value.AccountType == Web.Enum.AccountType.RetirementAccount
                                                           || x.Value.AccountType == Web.Enum.AccountType.RealEstateAsset))
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <button @onclick="@(() => lineItemRow.Value.Expand = !lineItemRow.Value.Expand)">
                                                                            @if (lineItemRow.Value.Expand == false)
                                                                            {
                                                                                <i class="fa-solid fa-plus"></i>
                                                                            }
                                                                            else
                                                                            {
                                                                                <i class="fa-solid fa-minus"></i>
                                                                            }
                                                                        </button>
                                                                    </td>
                                                                    <td>@lineItemRow.Key</td>
                                                                    <td>@lineItemRow.Value.AccountType</td>
                                                                </tr>
                                                                @if (lineItemRow.Value.Expand == true)
                                                                {
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Period #</th>
                                                                                        <th scope="col">Present Value</th>
                                                                                        <th scope="col">Payment</th>
                                                                                        <th scope="col">Period Interest Rate</th>
                                                                                        <th scope="col">Future Value</th>
                                                                                        <th scope="col">Date</th>
                                                                                        <th scope="col">Type</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var lineItem in lineItemRow.Value.LineItems)
                                                                                    {
                                                                                        @if (lineItem.TimeValuePeriod != null)
                                                                                        {
                                                                                            <tr>
                                                                                                <td scope="row">@lineItem.TimeValuePeriod.PeriodNumber</td>
                                                                                                <td>@lineItem.TimeValuePeriod.PresentValue.ToString("c")</td>
                                                                                                <td>@lineItem.TimeValuePeriod.Payment.ToString("c")</td>
                                                                                                <td>@lineItem.TimeValuePeriod.PeriodInterestRate.ToString("P")</td>
                                                                                                <td>@lineItem.TimeValuePeriod.FutureValue.ToString("c")</td>
                                                                                                <td>@lineItem.TimeValuePeriod.Date.ToString("MM/dd/yyyy")</td>
                                                                                                <td>Asset</td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="7">
                                                    <table class="table">
                                                        <thead>                                                            
                                                            <tr>
                                                                <th scope="col">Expand</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Account Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var lineItemRow in month.LineItemsRow.Where(x => x.Value.AccountType == Web.Enum.AccountType.Debt
                                                           || x.Value.AccountType == Web.Enum.AccountType.Mortgage))
                                                            {
                                                                <tr>

                                                                    <td>
                                                                        <button @onclick="@(() => lineItemRow.Value.Expand = !lineItemRow.Value.Expand)">
                                                                            @if(lineItemRow.Value.Expand == false)
                                                                            {
                                                                                <i class="fa-solid fa-plus"></i>
                                                                            }
                                                                            else
                                                                            {
                                                                                <i class="fa-solid fa-minus"></i>
                                                                            }
                                                                        </button>
                                                                    </td>
                                                                    <td>@lineItemRow.Key</td>
                                                                    <td>@lineItemRow.Value.AccountType</td>
                                                                </tr>
                                                                @if(lineItemRow.Value.Expand == true)
                                                                {
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Period #</th>
                                                                                        <th scope="col">Principal Pmt Amount</th>
                                                                                        <th scope="col">Interest Pmt Amount</th>
                                                                                        <th scope="col">Principal Remaining</th>
                                                                                        <th scope="col">Date</th>
                                                                                        <th scope="col">Type</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var lineItem in lineItemRow.Value.LineItems)
                                                                                    {
                                                                                        @if (lineItem.AmortizationScheduleModel != null)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>@lineItem.AmortizationScheduleModel.PeriodNumber</td>
                                                                                                <td>@lineItem.AmortizationScheduleModel.PrincipalAmount.ToString("c")</td>
                                                                                                <td>@lineItem.AmortizationScheduleModel.InterestAmount.ToString("c")</td>
                                                                                                <td>@lineItem.AmortizationScheduleModel.PrincipalRemaining.ToString("c")</td>
                                                                                                <td>@lineItem.AmortizationScheduleModel.DateOfPayment.ToString("MM/dd/yyyy")</td>
                                                                                                <td>Debt</td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
}